/**
 * Layout for mixology base theme.
 */
.layout-container {
  @include display(flex);
  @include flex-direction(column);
  min-height: 100vh;
  &> .wrapper {
    text-align: center;
    & > header, & > .content-area, & > footer {
      max-width: 1800px;
      padding: 0 2em;
      text-align: left;
      margin: 0 auto;
    }
  }
  > .wrapper--content {
    @include flex-grow(2);
  }
}
