/**
 * Styles for main menu.
 */
.main-menu {
  text-align: center;
  > .narrow {
    @include media($breakpoint-desktop-narrow) {
      display: none;
    }
    &> ul.menu {
      display: none;
      position: absolute;
      right: 0;
      z-index: 10;
      background-color: #e0e0e0;
      width: 100%;
      &> li.menu-item {
        border-bottom: 1px solid #c0c0c0;
        &:first-child {
          border-top: 1px solid #c0c0c0;
        }
      }
    }
  }
  > .wide {
    display: none;
    @include media($breakpoint-desktop-narrow) {
      display: block;
      &> ul.menu {
        @include display(flex);
        @include flex-wrap(wrap);
        @include align-content(flex-start);
      }
    }
  }
  ul.menu {
    padding: 0;
    margin: 0;
    &> li.menu-item {
      a {
        color: black;
        text-decoration: none;
        display: inline-block;
        padding: 1em;
        &:visited {
          color: inherit;
        }
        &:hover {
          color: #505050;
        }
      }
    }
  }
}

#menu-toggle {
  @include display(flex);
  @include flex-wrap(wrap);
  @include align-content(flex-start);
  @include align-items(center);
  @include justify-content(space-around);
  padding: 0.1em;
  border: 1px solid #555;
  margin: 0.25em auto;
  @include media($breakpoint-desktop-narrow) {
    display: none;
  }
  width: 6em;
  &:hover {
    cursor: pointer;
  }
}
