/**
 * @file
 * Main SCSS file for mixtheme.
 */
/* Import Sass mixins, variables, Compass modules, Bourbon and Neat, etc. */
/**
 * @file
 *
 * Import and configure frameworks.
 */
/* line 4, ../../../../libraries/sass/neat/grid/_box-sizing.scss */
html {
  box-sizing: border-box;
}

/* line 9, ../../../../libraries/sass/neat/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit;
}

/**
 * @file
 *
 * Custom variables, mixins, and functions.
 */
/**
 * @file
 *
 * Base styles. Mostly HTML elements.
 */
/* Layout rules */
/**
 * Layout for mixology base theme.
 */
/* line 4, ../sass/layout/_layout.scss */
.layout-container {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  min-height: 100vh;
}
/* line 8, ../sass/layout/_layout.scss */
.layout-container > .wrapper {
  text-align: center;
}
/* line 10, ../sass/layout/_layout.scss */
.layout-container > .wrapper > header, .layout-container > .wrapper > .content-area, .layout-container > .wrapper > footer {
  max-width: 1800px;
  padding: 0 2em;
  text-align: left;
  margin: 0 auto;
}
/* line 17, ../sass/layout/_layout.scss */
.layout-container > .wrapper--content {
  -webkit-flex-grow: 2;
  -moz-flex-grow: 2;
  flex-grow: 2;
  -ms-flex-positive: 2;
}

/* Component rules (called 'modules' in SMACSS) */
/**
 * @file
 *
 * Main components file. Loads all other components.
 */
/**
 * Styles for the footer region.
 */
/* line 4, ../sass/components/_footer.scss */
.wrapper--footer {
  background-color: #c0c0c0;
}

/**
 * Styles for the search form.
 */
/* line 4, ../sass/components/_form_search.scss */
.search-block-form {
  position: relative;
}
/* line 6, ../sass/components/_form_search.scss */
.search-block-form .form-search-main {
  display: none;
  padding: 1em;
  width: 18em;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #969696;
  z-index: 10;
}
/* line 15, ../sass/components/_form_search.scss */
.search-block-form .form-search-main form {
  display: inline-block;
  padding-top: 0.5em;
}
/* line 19, ../sass/components/_form_search.scss */
.search-block-form .form-search-main .form-search-main-close {
  display: inline-block;
  position: relative;
  top: -0.5em;
  right: -0.5em;
}
/* line 24, ../sass/components/_form_search.scss */
.search-block-form .form-search-main .form-search-main-close:hover {
  cursor: pointer;
}
/* line 29, ../sass/components/_form_search.scss */
.search-block-form .icon-search {
  width: 2.5em;
  height: 2.5em;
}
/* line 32, ../sass/components/_form_search.scss */
.search-block-form .icon-search:hover {
  cursor: pointer;
}

/**
 * Styles for the header-top region.
 */
/* line 4, ../sass/components/_header_top.scss */
.wrapper--header--top {
  background-color: #c0c0c0;
}
/* line 7, ../sass/components/_header_top.scss */
.wrapper--header--top .header--top .region-top {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  padding: 1.5em 0;
}
/* line 12, ../sass/components/_header_top.scss */
.wrapper--header--top .header--top .region-top .block-system-branding-block {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-flex-grow: 2;
  -moz-flex-grow: 2;
  flex-grow: 2;
  -ms-flex-positive: 2;
}
/* line 17, ../sass/components/_header_top.scss */
.wrapper--header--top .header--top .region-top .block-system-branding-block .site-name {
  margin-left: 1em;
  font-size: 1.5em;
  font-weight: bold;
}
/* line 21, ../sass/components/_header_top.scss */
.wrapper--header--top .header--top .region-top .block-system-branding-block .site-name a {
  text-decoration: none;
  color: inherit;
}
/* line 27, ../sass/components/_header_top.scss */
.wrapper--header--top .header--top .region-top .block-search {
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
  text-align: right;
}

/**
 * Styles for main menu.
 */
/* line 4, ../sass/components/_main_menu.scss */
.wrapper--header--main {
  background-color: #e0e0e0;
}
/* line 6, ../sass/components/_main_menu.scss */
.wrapper--header--main header.header--main {
  padding-left: 0;
  padding-right: 0;
}
@media screen and (min-width: 800px) {
  /* line 6, ../sass/components/_main_menu.scss */
  .wrapper--header--main header.header--main {
    padding-left: 2em;
    padding-right: 2em;
  }
}
/* line 14, ../sass/components/_main_menu.scss */
.wrapper--header--main .main-menu {
  text-align: center;
}
/* line 16, ../sass/components/_main_menu.scss */
.wrapper--header--main .main-menu > .narrow {
  position: relative;
}
@media screen and (min-width: 800px) {
  /* line 16, ../sass/components/_main_menu.scss */
  .wrapper--header--main .main-menu > .narrow {
    display: none;
  }
}
/* line 21, ../sass/components/_main_menu.scss */
.wrapper--header--main .main-menu > .narrow > ul.menu {
  display: none;
  position: absolute;
  z-index: 10;
  background-color: #e0e0e0;
  width: 100%;
}
/* line 27, ../sass/components/_main_menu.scss */
.wrapper--header--main .main-menu > .narrow > ul.menu > li.menu-item {
  border-bottom: 1px solid #c0c0c0;
}
/* line 29, ../sass/components/_main_menu.scss */
.wrapper--header--main .main-menu > .narrow > ul.menu > li.menu-item:first-child {
  border-top: 1px solid #c0c0c0;
}
/* line 35, ../sass/components/_main_menu.scss */
.wrapper--header--main .main-menu > .wide {
  display: none;
}
@media screen and (min-width: 800px) {
  /* line 35, ../sass/components/_main_menu.scss */
  .wrapper--header--main .main-menu > .wide {
    display: block;
  }
  /* line 39, ../sass/components/_main_menu.scss */
  .wrapper--header--main .main-menu > .wide > ul.menu {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: flex-start;
    -moz-align-content: flex-start;
    align-content: flex-start;
    -ms-flex-line-pack: start;
  }
}
/* line 46, ../sass/components/_main_menu.scss */
.wrapper--header--main .main-menu ul.menu {
  padding: 0;
  margin: 0;
}
/* line 50, ../sass/components/_main_menu.scss */
.wrapper--header--main .main-menu ul.menu > li.menu-item a {
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 1em;
}
/* line 55, ../sass/components/_main_menu.scss */
.wrapper--header--main .main-menu ul.menu > li.menu-item a:visited {
  color: inherit;
}
/* line 58, ../sass/components/_main_menu.scss */
.wrapper--header--main .main-menu ul.menu > li.menu-item a:hover {
  color: #505050;
}

/* line 66, ../sass/components/_main_menu.scss */
#menu-toggle {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: flex-start;
  -moz-align-content: flex-start;
  align-content: flex-start;
  -ms-flex-line-pack: start;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute;
  padding: 0.1em;
  border: 1px solid #555;
  margin: 0.25em auto;
  width: 6em;
}
@media screen and (min-width: 800px) {
  /* line 66, ../sass/components/_main_menu.scss */
  #menu-toggle {
    display: none;
  }
}
/* line 79, ../sass/components/_main_menu.scss */
#menu-toggle:hover {
  cursor: pointer;
}

/* line 83, ../sass/components/_main_menu.scss */
svg.icon {
  width: 24px;
  height: 24px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
